{% extends 'base.html.twig' %}

{% block tituloPagina %}
    Menú
{% endblock %}

{% block contenido %}
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center p-md">
                    <h2>
                        <span class="text-navy"> Historial de Partidos </span>
                    </h2>
                    <p>
                        Aplicacion para registrar y tener el historial de partidos a los que asististe.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
