{% extends 'extends/iboxContent.html.twig' %}

{% block title %}New Partidos{% endblock %}

{% block contenidoIbox %}
    <h1>Create new Partidos</h1>

    {{ include('partidos/_form.html.twig') }}

    <a href="{{ path('app_partidos_index') }}">back to list</a>
{% endblock %}
